

<h1> IT Academy </h1>
<h2> Panier </h2>
<form action ="/user/new" method = "POST">
    <input type = "submit" name ="save" value ="Finaliser l'inscription" formaction = "/monPanier" />
    <input type = "submit" name ="save" value ="Retourner au catalogue de formation" formaction="/user" />
    <!-- <input type = "submit" name ="save" value ="Sauver" /><br/>
    <input type = "submit"  value ="Retour à la liste" formaction="/user" /><br/> -->
</form>

<!DOCTYPE html>
   <html>
       <head>
           <meta charset="utf-8" />
           <title>Tableau</title>
       </head>
       <body>
           <table border="1">
               <thead>
                   <tr>
                       <th>Id</th>
                       <th>Nom</th>
                       <th>Prix</th>
                       <th>Début</th>
                       <th>Fin</th>
                   </tr>
               </thead>
               <tbody>


                    <% for (let i=0 ; i< formations.length ; i++) { %>
                        <tr>
                        <%=  formations[i].formation %> 
                        <td><%= formations[i].id %></td>
                        <td><%= formations[i].Nom %></td>
                        <td><%= formations[i].Prix %></td>
                        <td><%= formations[i].Debut %></td>
                        <td><%= formations[i].Fin %></td>
                        <td><input type = "submit" name ="save" value ="Supprimer" formaction="/user" /></td>
                        </tr>
                    <% } %>
                    
               </tbody>
            
           </table>
       </body>
   </html>